@section css{
}

@section js{
    <script src="/plugins/page/dimension/dimension.new.js"></script>
}

<div class="card card-deck card-bordered">
    <div class="card-header">
        <div class="card-toolbar">
            <a href="/dimensions/new" class="btn btn-primary">
                <i class="fa la-arrow-left"></i>Return
            </a>
        </div>
    </div>
    <div class="card-body">
        <form asp-controller="dimension" asp-action="new" method="post" id="form1">
            <div class="fv-row mb-10">
                <input type="text" name="name" class="form-control form-control-solid mb-3 mb-lg-0" placeholder="Dimension name" value="" />
            </div>

            <button id="form1-submit" type="submit" class="btn btn-primary">
                <span class="indicator-label">
                    Create
                </span>
                <span class="indicator-progress">
                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                </span>
            </button>

        </form>
    </div>
</div>

